<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form method="post"
      enctype="multipart/form-data"
>

  <label>Upload XML description from file: <input type="file" name="xmlfile" required=""/> </label>
  <br/>
  
  <br/>
  <input type="submit" value="Submit"/>
  
</form> 

</body>
</html>
