<!DOCTYPE html>
<html>
<body>

<form {{ 'method="'+formMethod+'"' if formMethod else '' }} >

  {% include 'fragment_branch.j2' %}


  {% if subBranchRequired %}
    <label>Sub-branch:<br/>
      <input type="text" name="subbranch" required="" />
    </label>
    <br/>
  {% endif %}


  <br/>
  <input type="submit" value="Submit"/>

</form> 

</body>
</html>
