<!DOCTYPE html>
<html>
<body>

<form method="post" >

  {% include 'fragment_branch.j2' %}
  {% include 'fragment_role.j2' %}
  {% include 'fragment_funcset.j2' %}

  <br/>
  <input type="submit" value="Submit"/>

</form> 

</body>
</html>
