<!DOCTYPE html>
<html>
<body>

<form method="post">

  {% include 'fragment_funcset.j2' %}
  {% include 'fragment_funcid.j2' %}

  <br/>
  <input type="submit" value="Submit"/>

</form> 

</body>
</html>
