  <section>
    <label>Method of applying new tags:</label> <br/>
    <label><input type="radio" name="method" value="SET" checked=""/> SET - Replace old tagset with this one </label> <br/>
    <label><input type="radio" name="method" value="OR"/> OR - Merge new tags to existing </label> <br/>
    <label><input type="radio" name="method" value="AND"/> AND - Leave intersection of new and existing tags </label> <br/>
    <label><input type="radio" name="method" value="MINUS"/> MINUS - Remove given tags </label> <br/>
  </section>
