  <section>
    <p>Please select function property to report:</p>
    <label><input type="radio" name="prop" value="id" checked=""/> Function unique id </label> <br/>
    <label><input type="radio" name="prop" value="name"/> Function readable short name </label> <br/>
    <label><input type="radio" name="prop" value="title"/> Function title </label> <br/>
    <label><input type="radio" name="prop" value="description"/> Function description </label> <br/>
    <label><input type="radio" name="prop" value="callpath"/> Request path </label> <br/>
    <label><input type="radio" name="prop" value="method"/> Request method </label> <br/>
    <label><input type="radio" name="prop" value="contenttype"/> Request body content type</label> <br/>
  </section>
