  <section>
    <label>Method of testing existing tags with given ones:</label> <br/>
    <label><input type="radio" name="method" value="OR" checked=""/> OR - join new tags with existing (can be used to read) </label> <br/>
    <label><input type="radio" name="method" value="AND" /> AND - Intersection of given and existing tags </label> <br/>
    <label><input type="radio" name="method" value="MINUS"/> MINUS - Existing tags except given ones </label> <br/>
  </section>
